RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^v1/([a-z0-9]+)/([a-z]+).api?(.*?) 		index.php?algorithm=$1&output=$2&$3					[L,NC,QSA]
RewriteRule ^v1/([a-z0-9]+)/([a-z]+).api		index.php?algorithm=$1&output=$2					[L,NC,QSA]
